/* GENERAL */

body {
    margin : 2%;
    font-family: monospace;
}

a {
    color           : blue;
    text-decoration : none;
}

a:hover {
    text-decoration : underline;
}

/* NAVIGATION */

nav, footer {
    background-color : whitesmoke;
}

nav ul {
    list-style : none;
}

nav li {
    display : inline-block;
    margin  : 0;
    padding : 0;
}

nav a {
    padding : 5px;
}

nav a:hover {
    text-decoration  : none;
    background-color : darkblue;
    color            : white;
}

/* Special */

.error {
    color : red;
}